
.navbar-nav{
  pull: right;
}

#box{
  position: absolute;
  align-content: center;

}

#red-outer{
  height:300px;
  background-color: red;
  width:300px;
  border-radius: 150px;
  border-top: red solid 15px;
}
#black-outer{
  height:270px;
  width:270px;
  background-color: black;
  border-radius: 140px;
  margin-left: 15px;
  margin-bottom: 20px;


}

#redline{
  height: 280px;
  width: 30px;
  background-color: red;
  margin-left: 138px;
  margin-top: -300px;
}

#lefteye{
  height: 30px;
  width: 80px;
  background-color:white;
  margin-left:50px;
  border-radius: 0px 0px 35px 50px;
  border-top: 1px solid black;
  transform: rotate(30deg);
  margin-top: -140px;
}
#righteye{
  height: 30px;
  width: 80px;
  background-color:white;
  margin-left:175px;
  border-radius: 0px 0px 50px 35px;
  border-top: 1px solid black;
  transform: rotate(-30deg);
  margin-top: -30px;
  overflow: hidden;


}
